<div class="mb-5">

    <h1 class="font-weight-light mb-0">Hello, World!</h1>
    <h3 class="font-weight-light mb-0">This is a simple test.</h3>

</div>

<div class="mb-5">

    <p class="lead mb-0">
        All normal features of HTML are avaliable when writing.
    </p>

    <p>
        So, I can make text <strong>bold</strong>, <em>italic</em>, or <u>underlined</u>. Better yet, if I wanted to, I could add a <a href="https://google.com">link to Google</a>!
    </p>
    
</div>

<div class="mb-5">

    <p class="lead mb-0">
        To extend these features, Bootstrap 4 is fully supported.
    </p>

    <div class="container-fluid row py-2">
        <div class="col text-center bg-light border shadow-sm rounded-lg p-3">
            <h2 class="display-5 font-weight-light">So</h2>
        </div>
        <div class="col text-center bg-light border shadow-sm rounded-lg p-3 ml-3">
            <h2 class="display-5 font-weight-light">columns</h2>
        </div>
        <div class="col text-center bg-light border shadow-sm rounded-lg p-3 ml-3">
            <h2 class="display-5 font-weight-light">can</h2>
        </div>
        <div class="col text-center bg-light border shadow-sm rounded-lg p-3 ml-3">
            <h2 class="display-5 font-weight-light">be</h2>
        </div>
        <div class="col text-center bg-light border shadow-sm rounded-lg p-3 ml-3">
            <h2 class="display-5 font-weight-light">created.</h2>
        </div>
    </div>

</div>