<div class="mb-5">

    <h1 class="font-weight-light mb-0">Content's pretty cool.</h1>

</div>

<div class="mb-5">

    <p class="lead mb-0">
        With the content function, images and other content can be added.
    </p>

    <img class="img-fluid pencil my-2" src="content/pencil.png">
    
    <p class="my-0">
        So the above pencil can be referenced from the books <code>content</code> subdirectory.
    </p>

</div>

<div class="mb-5">

    <p class="lead mb-0">
        And, if your experienced, JS and CSS can be added with the content function.
    </p>
    
    <link rel="stylesheet" href="content/rainbow-text.css">

    <p>
        <span class="rainbow-text">So cool text like this is possible!</span>
    </p>

</div>