<p class="lead">"Evil" scripts are hidden here. They should be thwarted.</p>

<a href="about:blank" onclick="alert('oh no')">Just an empty link...</a>

<span id="test">Hello, World! (There should be nothing after this)</span>
<script>document.getElementById('test').innerText += ' You have been pwned!'</script>