<!DOCTYPE html>

<html>

    <head>

        <title><%- title %></title>

        <link rel="stylesheet" href="/libraries/bootstrap/css">
        <link rel="stylesheet" href="/libraries/custom/css">

    </head>

    <body>

        <div class="w-100 p-3 mt-0 mx-0 bg-light text-center shadow-sm">
            <h1 class="display-4">Uh, Oh!</h1>
        </div>

        <div class="container py-5">
            <h1 class="display-5 font-weight-light mb-4">Invalid <%- type %>.</h1>
            <p class="lead"><%- message %></p>
        </div>

        <script src="/libraries/jquery/js"></script>
        <script src="/libraries/popper/js"></script>
        <script src="/libraries/bootstrap/js"></script>

    </body>

</html>