<!DOCTYPE html>

<html>

    <head>

        <title><%- title %></title>

        <link rel="stylesheet" href="/libraries/bootstrap/css">
        <link rel="stylesheet" href="/libraries/custom/css">

    </head>

    <body>

        <div class="w-100 p-3 mt-0 mx-0 bg-light shadow-sm">
            <div class="container-fluid row p-0 m-0">
                <div class="col-3 p-0 m-0">
                    <nav>
                        <ol class="breadcrumb bg-light p-0">
                            <li class="breadcrumb-item active">List</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-6 text-center">
                    <h1 class="display-4 mb-1">Book List</h1>
                    <h3 class="display-5 font-weight-lighter"><%- title %></h3>
                </div>
                <div class="col-3"></div>
            </div>
        </div>

        <div class="container pt-5">
            <%- books %>
        </div>

        <script src="/libraries/jquery/js"></script>
        <script src="/libraries/popper/js"></script>
        <script src="/libraries/bootstrap/js"></script>

    </body>

</html>