<!DOCTYPE html>

<html>

    <head>

        <title><%- title %></title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="/style">

    </head>

    <body>

        <div class="w-100 p-3 mt-0 mx-0 bg-light text-center shadow-sm">
            <h1 class="display-4">Uh, Oh!</h1>
        </div>

        <div class="container py-5">
            <h1 class="display-5 font-weight-light mb-4">Invalid <%- type %>.</h1>
            <p class="lead"><%- message %></p>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

    </body>

</html>