<div class="text-center mb-4">
    <img class="img-fluid" src="/book/manual/content/squiggle-l.png">
    <img class="img-fluid" src="/book/manual/content/bookjs-icon-sm.png">
    <img class="img-fluid" src="/book/manual/content/squiggle-r.png">
</div>

<div class="text-center">
    <h1 class="display-5 font-weight-light">Welcome to the built-in manual for BookJS.</h1>
    <p class="lead">This book will help you configure the server, add new books, and more.</p>
</div>